@yellow: #F5CF46;
@midBlue: #3A4E97;
@blue: #21315C;
@red: #C74030;
@orange: #DE7C38;

@import url('https://fonts.googleapis.com/css?family=Kanit:300,400,600');

.App, #root {
    height: 100%;
}

html {
    background-color: @yellow;
    height: 100%;
}

body {
    font-family: 'Kanit', sans-serif;
    height: 100%;
}

.textCenter {
    text-align: center;
}
.FullScreenBox {
    display: flex;
    width: 100%;
    height: 100%;
}
.FullScreenBoxNormal {
    display: flex;
    width: 100%;
}
.centered-box {
    text-align: center;
}

@Boxmargin : 20px;

.MidBlueBG {
    background-color: @midBlue;
}
.BlueBG {
    background-color: @blue;
}
.WhiteBG {
    background-color: white;
}

.WrapperFluidTop {
    margin-top: 20px;
    margin-bottom: 20px;
    height: calc(~'100% - (@{Boxmargin} * 2)');
}

.WrapperFluid {
    
    width: calc(~'100% - (@{Boxmargin} * 2)');
    margin: 20px;
}
.WrapperNormal {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 20px;
    width: 100%;
}

.centeredContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(~'50%');
    flex-direction: column;
}

#ru-header-logo {
    width: 300px;
}
#header-text {
    font-size: 42px;
    margin: 15px 0;
    text-align: center;
}

#transfer-details {
    margin-top: 10px;
    margin-bottom: -30px;
}

.blueText {
    color: @blue;
}
.midBlueText {
    color: @midBlue;
}
.yellowText {
    color: @yellow;
}
.whiteText {
    color: #fff;
}
.noMargin {
    margin: 0;
}

.introduction-bg-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    > img {
        margin-bottom: 20px;
        height: auto;
        width: 60%;
        position: absolute;
        bottom: 0;
        max-width: 900px;
    }
}

.nextButton {
    z-index: 998;
    position: absolute;
    bottom: 40px;
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 100%;
    left: calc(~'50% - 30px');
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
}

#Admission {
    > div {
        
    }
}

.admission-box {
    justify-content: center;
    align-items: center;
    display: flex;
    
    > div {
        width: calc(~'70%');
    }
}

ul.noStyle {
    padding: 0 !important;
    list-style-type: none;
}
.marginTopZero {
    margin-top: 0;
}
.marginBottomZero {
    margin-bottom: 0;
}

#ArrowDownButtonImg {
    height: 12px;
    transform: translateY(2px);
}

@media screen and (max-width: 980px) {
    #review-box {
        > div {
            margin-left: 30px;
            margin-right: 30px;
            background-color: transparent !important;
            box-shadow: none !important;
            height: unset !important;
        }
    }
    .admission-box-small {
        > div {
            margin-left: 0px !important;
            margin-right: 0px !important;
            flex: 1 0 auto;
            width: calc(~'90% - 40px') !important;
        }
    }
    .admission-box-small {
        flex-wrap: wrap;
        > div {
            width: calc(~'90%');
            margin-bottom: 20px;
            > ul {
                > li {

                }
            }
        }
    }
}



.admission-box-small {
    margin-top: 50px;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    > div {
        margin-left: 10px;
        margin-right: 10px;
        padding: 20px;
        //width: calc(~'300px');
        > ul {
            padding-left: 20px;
            > li {
                margin: 10px 0;
            }
        }
    }
}
#office {
    margin-top: 30px;
}
#steptextLoopReview {
    display: none;
}
@media screen and (max-width: 600px) {
    #steptextLoopReview {
        display: block;
    }
    #text-review {
        font-size: 11px;
    }
    .btnGroup {
        flex-direction: column;
    }
    #download {
        > div {
            //padding-bottom: 80px;
            > div {
                height: auto;
            }
        }
    }
    #admission-box-1 > ul {
        font-size: 14px;
    }
    #ru-header-logo {
        width: 220px;
    }
    #header-text {
        font-size: 1.25em !important;
    }
    #header-text-2 {
        font-size: 18px !important;
    }
    #header-text-3 {
        font-size: 12px !important;
    }
    .introduction-bg-wrapper {
        > img {
            width: 100%;
        }
    }
}
@media screen and (max-width: 860px) {
    .scheduleUlDesktop {
        display: none !important;
    }
    .scheduleUlMobile {
        display: block !important;
    }
    #ru-header-logo {
        width: 220px;
    }
    #header-text {
        font-size: 28px;
    }
    #header-text-2 {
        font-size: 24px;
    }
    #header-text-3 {
        font-size: 18px;
    }
    .introduction-bg-wrapper {
        > img {
            width: 100%;
        }
    }
}

.scheduleUlMobile {
    display: none;
}

#scheduleTable, #tutionTable {
    width: 100%;
    > tbody {
        > tr > th {
            text-align: left;
        }
        > tr > th#scheduleTableColumn2 {
            width: 40%;
            
        }
    }
}

.ulPadding20 {
    padding-left: 20px;
}

.btnGroup {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    > a {
        margin: 8px 8px;
        cursor: pointer;
    }
}

.whiteBtn {
    background-color: #fff;
    padding: 12px 20px;
    border-radius: 25px;
    color: black;
    text-decoration: none;
}
.whiteBtn:hover {
    background-color: @yellow;
    color: @blue;
}

.whiteBtnBlue {
    background-color: #fff;
    padding: 12px 20px;
    border-radius: 25px;
    color: black;
    text-decoration: none;
}
.whiteBtnBlue:hover {
    background-color: @blue;
    color: white;
}


#OfficeBlock {
    margin-top: -20px;
}

#gototop {
    position: fixed;
    right: 25px;
    bottom: 25px;
    background: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    opacity: 0;
    transition: opacity 0.25s;
    > img {
        width: 15px;
        transform: rotate(180deg)
    }
}

#gototop.active {
    opacity: 1;
}


#statCounter {
    display: none;
}

#text-review {
    //margin-bottom: 50px;
    > div {
        width: 100%;
    }
}

#review-box {
    > div {
        height: 200px;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 260px;
    }
}
#Review > div {
    padding-bottom: 0px;
}

#applyNowBtnReview {
    font-size: 20px;
    margin-top: 40px;
    //height: 50px;
    height: 110px;
    > a {
        border: 1px solid @blue;
    }
}

.shadow-lg { 
    transition: 0.25s;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
}

.shadow-lg:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

#applyOnlineBtn {
    margin-top: 25px;
}

#sharebtngroup {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.twitter-logo-btn {
    color: white;
    height: 18px;
    width: 18px;
    fill: white;
    margin-right: 4px;
}
.my-twitter-share-button {
    margin-left: 10px;
    width: 76px;
    background-color: #1b95e0;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0px;
    color: white;
}